@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=M+PLUS+Rounded+1c:wght@400;500&display=swap');

body{
    background: linear-gradient(135deg, #2f94ff 0%, #3162e8 100%);
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.container{
    font-family: "Balsamiq Sans", sans-serif;
    background: linear-gradient(135deg, #000c35, #003180);
    border-radius:30px;
    padding: 40px;
    max-width: 1400px;
    width: 100%;
    box-shadow:0 30px 60px rgba(0,0,0,0.54) ;
}

.header{
    display:inline-block;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    color: white;
}

.logo{
    display:inline-block;
    font-size: 25px;
}
.nav{
    display:flex;
    gap: 25px;
    align-items: center;
}
.nav a{
    color:#2f94ff;
    text-decoration: none;
}

.nav a:hover{
    color:white;
}

.main-content{
   display:flex;
   justify-content: space-between;
   grid-template-columns: 1fr 1.5fr; 
   gap:50px;
   color: white;
}

.main-content card{
    display:flex;
    align-items: center;

}

.title{
    font-size: 4rem;
    font-weight: 400px;

}



